.album {
  max-width: 1000px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
}

.album-art-img {
  width: 352px;
  height: 352px;
}

.album-sidebar {
  width: 120px;
  font-size: 12px;
  float: right;
  margin-top: -350px;
  margin-right: 32px;
}

.album-sidebar a {
  color: #0687F5;
}

.sidebar-album-img {
  width: auto;
  height: auto;
  max-width: 120px;
  max-height: 120px;
}

li {
  list-style: none;
}

.album-booklet {
  display: flex;
  flex-direction: column-reverse;
  width: 376px;
  padding-right: 30px;
  margin-left: 455px;
  margin-top: 45px;
}

.album-info-box {
  margin-top: -350px;
  margin-right: 33px;
}

.album-info {
  font-family: "Roboto", sans-serif;
  padding-left: 30px;
  width: 376px;
}

.album-info-header {
  color: black;
  font-size: 28px;
}

.byline {
  font-size: 14px;
  color: #363636;
  width: auto;
  padding-top: 9px;
  padding-bottom: 38px;
}

.byline a {
  padding-left: 3px;
}

.byline a:hover {
  color: #0687F5;
  text-decoration: underline;
  text-decoration-color: #0687F5;
}

.track-title {
  width: 376px;
  margin: 0px;
}

.track-index li {
  display: flex;
  flex-direction: column;
}

.sidebar-name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-top: 0;
  margin: 0 0 24px;
  color: #363636;

}

.sidebar-disco {
  font-family: "Roboto", sans-serif;
  color: #363636;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 18px;

}

.track-index {
  margin-left: 16px;
}

.track-title {
  font-family: "Roboto", sans-serif;
  color: #363636;
  background-color: #FAFAFA;
  width: 100px;
  position: absolute;
  z-index: 3;
  margin-top: 28px;
  margin-left: 32px;
  width: 312px;
  height: 22px;
  border-top: 2px solid #FAFAFA;
  border-left: 1px solid #363636;
  padding-left: 7px;
  height: 22px;
  margin-top: 22px;
  padding-top: 6px;
}

audio {
  width: 380px;
  height: 53px;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  margin-top: -3px;
}

.first-list-item {
  margin-top: 2px;
  margin-left: 0px;
  padding-left: 32px;
  padding-right: 36px;
  border: none;
  padding-top: 7px;
  height: 13px;
  border-radius: 10px;
}
