.album {
  max-width: 1000px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
}

.album-art-img {
  width: auto;
  height: auto;
  max-width: 352px;
  max-height: 352px;
}

.album-sidebar {
  width: 120px;
  font-size: 12px;
  float: right;
  margin-top: -350px;
}

.album-sidebar a {
  color: #0687F5;
}

.sidebar-album-img {
  width: auto;
  height: auto;
  max-width: 120px;
  max-height: 120px;
}

li {
  list-style: none;
}

.album-booklet {
  display: flex;
  flex-direction: column-reverse;
  width: 376px;
  padding-right: 30px;
}

.album-info {
  font-family: "Roboto", sans-serif;
  padding-left: 30px;
  width: 376px;
}

.album-info-header {
  color: black;
  font-size: 28px;
}

.byline {
  font-size: 14px;
  color: black;
  width: auto;
}

.byline a:hover {
  color: #0687F5;
  text-decoration: underline;
  text-decoration-color: #0687F5;
}

.track-title {
  width: 376px;
  margin: 0px;
}

.track-index li {
  display: flex;
  flex-direction: column;
}
