.album-index {
  margin-top: 120px;
}

.artist-album-index-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.header-img {
  height: auto;
  width: 100%;
  max-width: 1000px;
}

.artist-profile {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 100%
}

.profile-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 33px;

}

.profile-album-box {
  list-style: none;
  padding: 18px;
}

.profile-album-img {
  width: auto;
  height: auto;
  max-width: 234px;
  max-height: 234px;
}

.profile-album-text {
  margin: 0.7em 0 0.3em 0;
}

.profile-edit {
  height: 18px;
}
