.album-index {
  margin-top: 120px;
}

.artist-album-index-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 0;
}

.header-img {
  width: auto;
  height: auto;
  max-width: 1000px;
  max-height: 180px;
  margin-left: 20vw;
  margin-right: 20vw;
}
