.album-index {
  margin-top: 118px;
}

.artist-album-index-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.header-img {
  height: auto;
  width: 100%;
  max-width: 1000px;
}

.artist-profile {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  color: rgb(0,161,198);
  border: 1px solid rgba(0,0,0,.1);
  background-color: #ffffff;
}

.profile-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 35px 30px 45px;


}

.profile-album-box {
  list-style: none;
  padding-right: 35px;
  padding-bottom: 35px;
}

.profile-album-img {
  width: 232px;
  height: 232px;
}

.profile-album-text {
  margin: 0.7em 0 0.3em 0;
  text-decoration: none;
  color: #0687F5;
  font-weight: 500;
}

.profile-album-text:hover {
  text-decoration: underline;
}

.profile-vip {
  height: 18px;

}
