/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*login-header session-wrapper, session-box, session-form, session-question */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');
@import url('https://fonts.googleapis.com/css?family=Bitter');


.session-wrapper {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
  color: white;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  display: flex;
  align-items: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: black;

}

.login-header {
  display: flex;
  height: 100px;
  background-color: black;
  width: 100%;
  padding-left: 25px;
}

.session-form {
  display: flex;
  width: 500px;
  margin: 0 auto;
  flex-direction: column;
}

.session-question {
}
