/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*login-header session-wrapper, session-box, session-form, session-question */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');


body {
  margin-top: 100px;
  background-color: #ffffff;
  align-content: center;
}

.session-wrapper {
  display: flex;
}

.logo {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 56px;
  color: #333333;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  display: flex;
  align-items: center;
  height: 80px;
  width: auto;
  margin: 0;
}

.form-type {
  width: 584px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #333;
  border-bottom: 2px dotted #ccc;
  margin: 0 auto;
  padding-top: 53px;
  padding-bottom: 39px;
  margin-bottom: 0px;
  margin-top: 24px;
  display: flex;
  justify-content: center;

}

.session-form {
  display: flex;
  width: 584px;
  margin: 0 auto;
  flex-direction: column;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}


.session-question {
  color: #818285;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
  height: 150px;
  padding-top: 64px;
  margin: 0 auto;
}

h6 {
  margin: 0 0 18px 0;
  display: flex;
  font-size: 12px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 9px;
  color: #818285

}

input {
  height: 35px;
  padding-left: 10px;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  transition: border 0.3s;
  margin: 12px;
}

button {
  border: none;
  box-shadow: none;
  background: none;
  border: none;
  padding: 0 1em;
  margin: 9px;
  margin-top: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 300px;
  height: 36px;
  font-size: 16px;
  background-color: rgb(0,161,198);
}

.demo-button {
  background-color: transparent;
  color: rgb(0,161,198);
  margin-top: 7px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  height: 28px;
  width: 96px;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

a {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: underline;
}

.sign-up-prompt {
  font-size: 12px;
  color: #818285;
  -webkit-font-smoothing: antialiased;
  padding: 0 2px 0 2px
}


.error-box {
  display: flex;
  justify-content: center;
  min-height: 19px;
  padding: 9px;
}

.error-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.error {
  padding: 2px;
  color: #210000;
}
