.track-form {
  font-family: "Roboto", sans-serif;
  color: #363636;
  padding-top: 48px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.file-upload-input {
  background-color: transparent;
  border: none;
  margin-right: 71px;
  margin-bottom: 0px;
}

.track-title-input {
  margin-right: 87px;
}

.session-form {
  font-family: "Roboto", sans-serif;
}

.postbtn:disabled {
  background-color: grey;
}
