.nav-god {
  display:flex;
  flex-direction: row;
  border-top: 5px solid rgb(0,161,198);
  background-color: #ececec;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px dotted #818285;

}

.menu-bar {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  color: #333333;
}

.nav-links {
  margin-right: 18px;
  height: 100%;
}


.nav-links > * {
  color: #333333;
  padding: 12px;
  align-items: flex-end;

}


.log-out {
  background-color: transparent;
  border: none;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  width: auto;
  height: auto;
  padding-bottom: 14px;
}


.nav-greeting {

  font-weight: 400;
  font-size: 16px;
}
