.nav-god {
  display:flex;
  flex-direction: row;
  border-top: 5px solid #a5efe0;
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;

}

.menu-bar {
  display: flex;
  flex-direction: row;
  width: 1000px;
  min-width: 1000px;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  color: #fefefe;
}

.nav-links {
  margin-right: 18px;
}


.nav-links > * {
  color: #fefefe;
  padding: 12px;
  align-items: flex-end;
  padding-right: 25px;
}


.log-out {
  border: none;
  color: #fefefe;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  width: auto;
  height: auto;
  padding-bottom: 14px;
}

.log-out:hover {
  background-color: transparent;
}

.nav-greeting {
  color: #fefefe;
  font-weight: 400;
  font-size: 16px;
}
