.nav-god {
  display:flex;
  flex-direction: row;
  border-top: 5px solid rgb(0,161,198);
  background-color: #ececec;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px dotted #818285;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  justify-content: space-between;
  align-items: center;
}


.nav-link-box {
  box-sizing: border-box;
  color: rgb(0,161,198);
  font-weight: 400;
  font-size: 13px;
  height: 43px;
  transition: background 0.1s ease-out;
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*height: 38px;*/
}

.nav-link-box:hover {
  color: #6a6a6a;
  background-color: #dedede;
  text-decoration: none;
  border-top: 5px solid #0093B5;
  margin-top: -5px;

  height: 48px;
}

.nav-link-box a:hover {
  text-decoration: none;
  color: #6a6a6a;
}

.log-out {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-weight: 400;
  width: auto;
  color: rgb(0,161,198);
  text-decoration: none;
  padding: 0px;
  padding-bottom: 44px;
}

.log-out:hover {
  color: #6a6a6a;
}

.log-out:focus {
  outline: none;
}
