<!DOCTYPE html>
<html>
  <head>
    <title>AUX</title>
    <link rel="shortcut icon" type="image/ico" href="https://d30y9cdsu7xlg0.cloudfront.net/png/1046-200.png"/>


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
